html {
  scroll-behavior: smooth;
}

:root {
  --sectionPadding: 75px 0px;
}

body {
  background-color: white;
}

#hero {
  background-color: white;
}

#work {
  background-color: rgb(241, 241, 241);
  padding: var(--sectionPadding);
}

#skills {
  padding: var(--sectionPadding);
}

footer {
  background-color: rgb(18, 18, 18);
  padding: var(--sectionPadding);
}
