/* GLOBAL STYLES */

html {
  scroll-behavior: smooth;
}

:root {
  --sectionPadding: 75px 0px;
}

body {
  background-color: white;
}

/* HERO SECTION */

#hero {
  background-color: white;
}

/* WORK SECTION  */

#work {
  background-color: rgb(241, 241, 241);
  padding: var(--sectionPadding);
}

/* SKILLS SECTION */

#skills {
  padding: var(--sectionPadding);
}

#skills h3 {
  text-align: center;
}

.skills-icons {
  font-size: 150px;
}

.list-group-item {
  border: none;
  margin-top: 2rem;
}

.list-group-item:hover {
  transform: scale(1.2);
}

/* ABOUT/CONTACT SECTION */

/* FOOTER SECTION  */

footer {
  background-color: rgb(18, 18, 18);
  padding: var(--sectionPadding);
}
